Source: hello-fimuni
Section: web
Priority: optional
Version: 1.0.0
Maintainer: Juraj Michalek <juraj.michalek@ysoft.com>
Homepage: http://www.ysoft.com/
Package: hello-fimuni
Architecture: all
Depends: 
Description: Hello FI MUNI
 Example of Linux packaging for Gradle.
